/*
 * Empty Stylesheet file.
 */
.mainFxmlClass {
	
}

.text {
	-fx-text-fill: #babdb6;
}

.background-table {
	-fx-background-color: #2C3531;
	-fx-border-color: #379683;
}

.background {
	-fx-background-color: #2C3531;
	-fx-border-color: #379683;
}

.background-column {
	-fx-background-color: #555753;
	-fx-border-color: #379683;
}

.table-view .column-header .label {
	-fx-text-fill: #babdb6;
}


.table-row-cell:selected .text {
       -fx-fill: white;
       -fx-font-weight: bold;
}

.table-row-cell .text {
       -fx-fill: #babdb6;
}


.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
}



.table-view .scroll-bar:horizontal {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

/* ------------------------------------ */

	
/** CSS **/
/*.mylistview{
	-fx-border-color:derive(#379683,80%);
}*/
 
/* The main scrollbar CSS class of ListView */
.mylistview .scroll-bar:horizontal ,
.mylistview  .scroll-bar:vertical{
    -fx-background-color:transparent;
 
}
 
/* The increment and decrement button CSS class of scrollbar */
.mylistview .increment-button ,.mylistview .decrement-button {
    -fx-background-color:transparent;
	-fx-border-color:derive(#379683,80%);
}
 
/* The main scrollbar **track** CSS class  */
.mylistview .scroll-bar:horizontal .track ,
.mylistview .scroll-bar:vertical .track{
     -fx-background-color: transparent;
	 -fx-border-color:derive(#379683,80%);
	 -fx-background-radius: 0em;
}
 
/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.mylistview .scroll-bar:horizontal .thumb,
.mylistview .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#555753,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
 
}
 
/* ------------------------------------------------------------------------------------- */
/** EVENT CSS **/
/* ------------------------------------------------------------------------------------- */
 
/* The main scrollbar **track** CSS class on event of "hover" and "pressed" */
 
.mylistview .scroll-bar:horizontal:hover .track ,
.mylistview .scroll-bar:horizontal:pressed .track ,
.mylistview .scroll-bar:vertical:hover .track,
.mylistview .scroll-bar:vertical:pressed .track{
     -fx-background-color: derive(#434343,20%);
 
	 -fx-opacity: 0.2;
	 -fx-background-radius: 0em;
 
}
 
/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.mylistview .scroll-bar .thumb:hover,
.mylistview .scroll-bar .thumb:pressed{
    -fx-background-color: derive(#555753,50%);
}
 
.mylistview .increment-button:hover ,.mylistview .decrement-button:hover {
    -fx-background-color:derive(#379683,100%);
	-fx-border-color:derive(#379683,80%);	
	-fx-padding:10px;
}

/* ------------------------------------ */




.tree-table-view .scroll-bar
{
    -fx-background-color: transparent;
}


.slider .thumb {
	-fx-background-color: #555753;
	-fx-border-color: #379683;
}

.slider .track {
	-fx-background-color: #babdb6;
	-fx-border-color: #379683;
}

.background-buttons {
	-fx-background-color: #555753;
	-fx-border-color: #379683;
}

#initialText {
	-fx-font: bold 16px "Arial";
}